.time_container {
  position: relative;
}

.basic_title {
  color: #0d68cd;
  width: calc(100% - 50px);
  height: 48px;
  margin: 15px 0;
  padding-left: 56px;
  background: #eff5ff;
  border-radius: 4px 0 0 4px;
  position: relative;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
}

.title_class {
  position: absolute;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAABHNCSVQICAgIfAhkiAAAAThJREFUOE9jZMACeDLO5jD8/1/PyMgogk0em9h/BoZXQFzOiNXA9DPfgYZxEGsYXN1/hq+YBob+Z+YVPveHZMOgGkg2UFeGk6HSW5KBn4sFbMTHb38Y2rc+Z7j85DuYT7KBlT6SYAORAcjA9i3PB4mBcsJsDJ2hskAvM0O9/Jehbcsz8r1MKLJIDkOKDLRR4wFGgBQhMxim7XvJsPXiR2ikTPqfwPCfoR8Y3wJgEWBy571+DswEGVjlQ9jAqXtRDQQagQSQDCToNCwKGBkm/R84A6fHyzPICbGjuAszp5Dgwsd9+gz8nJD0hwwiZ9xFiZSB8zIxkYQZKf/+M/DeOE+MXqxqQAYeAMrYw2SZv3xi4Hp0hywDgenlFyND/38BBiaGBcAi35/ly0cG9hePGJj+kFe+Ag2cBgBamqEIRDXJvgAAAABJRU5ErkJggg==);
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 14px;
}

.name_class {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.info_label {
  font-weight: bold;
}
.info_value {
  /* color: #007bff; */
  color: #5978ef;
  font-weight: bold;
  margin-left: 15px;
}
.info_value:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
  /* font-size: 18px; */
}
